.modal__content {
  box-sizing: border-box;
  background: #ffffff;
  color: black;
  width: 430px;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 34px 36px 0px;
}
@media screen and (max-width: 768px) {
  .modal__content {
    width: 282px;
    padding: 25px 22px 25px;
  }
}
