.modal__close-button {
  background: url(../../../images/CloseIcon.svg) no-repeat center/cover;
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  right: -40px;
  top: -40px;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .modal__close-button {
    width: 26px;
    height: 26px;
    right: 5px;
    top: -40px;
  }
}
.modal__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
